.dashboard {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-content {
    background-color: #ffffff;
    justify: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}