.playground {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-content {
    //background-color: 'background.default';
    justify: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 1px;
    border-radius: 1px;
    border-color: #555555;
    border-style: dashed;
    background-color: #01080D;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  }
  
  .dropzone:hover {
    border-color: #f1a83b;
  }
  
  .dropzone.disabled {
    opacity: 0.6;
  }