.hcs20 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.page-content {
    //background-color: 'background.default';
    justify: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}